    <h1>Bienvenidos a mi página de productos</h1>
    <h2>Añadir un nuevo producto</h2>
    <form action="/products" method="post" enctype="multipart/form-data">
        <!--FIELDS OF A PRODUCT 
            title,
            description,
            price,
            thumbnail,
            file,
            code,
            stock,
        -->   
        <input type="text" name="title" placeholder="title">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="thumbnail" placeholder="thumbnail">
        <input type="file" name="file" placeholder="file">
        <input type="text" name="code" placeholder="code">
        <input type="text" name="stock" placeholder="stock">
        <button type="submit">Añadir Producto</button>       
    </form>