
<div class="linkAdd">
  <a href="{{addProduct}}">
    <p class="fa-solid fa-add" title="Agregar un juego"> Deseo agregar un producto </p>
  </a>
</div>
<section>
  <form method="GET" action="index.php" class="contenedor-formulario">
    <div class="container-buscador">
      <div class="container-input">
      </div>
    </div>
  </form>
</section>

<!--   /Muestra de productos -->
<section class="productos-container">
  <div class="productos">
  </div>
</section>