<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Facundo Lubo's E-Commerce </title>
    <link rel="stylesheet" href="./style/estilos.css">
</head>

<body>
    <header>
        <a href="./index.php">
            <img class="logo" src="./img/logo.png" alt="Joystick blanco y negro como logo de la página">
        </a>

        <div class="titulo">
            <a href="./index.php">
                <h1>Bienvenido</h1>
            </a>
            <a href="./index.php">
                <p class="lema"> Facundo Lubo's E-Commerce </p>
            </a>
        </div>
    </header>
    <main>