
<div class="linkAdd">
  <a href="formJuego.php">
    <p class="fa-solid fa-add" title="Agregar un juego"> Deseo agregar un producto </p>
  </a>
</div>
<section>
  <form method="GET" action="index.php" class="contenedor-formulario">
    <!-- TODO: hacer que haya un predeterminado en el filtrado que sea el nombre -->
    <div class="container-buscador">
      <div class="container-input">
      </div>
    </div>
  </form>
</section>

<!--   /Muestra de juegos -->
<section class="juegos-container">
  <div class="juegos">
  </div>
</section>